<!-- Toolbar -->
<div class="flex min-h-screen items-center justify-center p-10 bg-white">
  <div class="container grid max-w-screen-xl gap-8 lg:grid-cols-2 lg:grid-rows-2">
    <div class="row-span-2 flex flex-col rounded-md border border-slate-200">
      <div class="h-1/2 flex-1"><img src="/assets/background.gif" class="w-full object-cover object-right-top"
          alt="omnichannel" /></div>
      <div class="p-10">
        <h3 class="text-xl font-medium text-gray-700">ENX.PW</h3>
        <p class="mt-2 text-slate-500">Whether you need to share links on social media platforms, in emails, or any
          other digital medium, ENX.PW simplifies the process by reducing the length of your URLs without compromising
          their functionality.</p>
      </div>
    </div>
    <div class="flex rounded-md border border-slate-200">
      <div class="w-full rounded-lg p-5">
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </div>
          <input type="search" id="default-search" (change)="onLinkChange($event)"
            class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Link..." required>
          <button (click)="sendPostRequest()"
            class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Minify</button>
        </div>
        <div *ngIf="message !== ''"
          class="fixed bottom-5 right-5 bg-white rounded-md shadow-md p-6 transition ease-in duration-300">
          {{ message }}
        </div>
        <div class="flex justify-center items-center h-full">
          <ng-hcaptcha class="m-2" (verify)="onVerify($event)" (expired)="onExpired($event)" (error)="onError($event)">
          </ng-hcaptcha>
        </div>
      </div>
    </div>
    <div class="flex rounded-md border border-slate-200">
      <div class="w-full h-full">
        <div class="w-full h-full">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg h-full">
            <div class="max-h-64ç overflow-y-auto">
              <table class="min-w-full divide-y divide-gray-300 max-h-100">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Link</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Shortened</th>

                  </tr>

                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                  <ng-container *ngFor="let short of shortened">
                    <tr>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{short.link}}</td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm">{{ this.getDomain() }}/l/{{short.shortened}}</td>
                    </tr>
                  </ng-container>



                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    </div>
  </div>
</div>